<div class="container">
  <h2 class="post__header">동아리연합회 일정표</h2>
  <!--방문자 수: <%#= @total_view_count %> -->
  <hr/>
  <br/>
  <%= month_calendar events: @schedules do |date, meetings| %>
    <%= date.day %>
  
    <% meetings.each do |meeting| %>
      <div>
        <%= meeting.name %>
      </div>
    <% end %>
  <% end %>
</div>



<%= link_to 'New Schedule', new_schedule_path %>
