// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.day {
  height: 8rem;
  width: 14.285714%;
}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {color: red;}
.past {}
.future {}

.start-date {}

.prev-month {color: rgba(0,0,0,0.3);}
.next-month {color: rgba(0,0,0,0.3);}
.current-month {}

.has-events {}